In [231]:
%run readingfile.ipynb

['baselineRNA']
['baselineRNA']
['baselineCD4']
['drug', 'drugClass']
['baselineNewTreatment']
['baselineIsolate', 'relativetDate', 'nucleotideSequence']
['aaMutation']
['followupRNA']
['followupCD4']
['pastRegimenTreatments']
['pastRNA']
['pastCD4']
['pastIsolate', 'nucleotideSequence']
['patient']
['baselineYear']
['dateUnit']
['baselineRNA', 'relativeDate', 'logLoad', 'rawLoad']
['baselineRNA', 'relativeDate', 'rawLoad']
['baselineCD4', 'relativeDate', 'count']
['drug']
['baselineNewTreatment', 'relativeStartDate', 'relativeStopDate', 'duration']
['baselineIsolate', 'relativetDate']
['aaMutation', 'position']
['followupRNA', 'relativeDate', 'logLoad', 'rawLoad']
['followupCD4', 'relativeDate', 'count']
['pastRegimenTreatments', 'relativeStartDate', 'relativeStopDate', 'duration']
['pastRNA', 'relativeDate', 'logLoad', 'rawLoad']
['pastCD4', 'relativeDate', 'count']
['pastIsolate', 'relativeDate', 'aaStart', 'aaStop']
['patient', 'patientAlias', 'CD4NadirBeforeTCE']
[]
[]
['vLoadMatch']
['vLoadMatch']
[]
['drugCode', 'drugClass']
[]
['gene', 'subtype', 'nucleotideSequence', 'aaSequence']
['aminoAcid']
['vLoadMatch']
[]
[]
['vLoadMatch']
[]
['gene', 'subtype', 'nucleotideSequence', 'aaSequence']
[]
['baselineYear']
['dateUnit']

# BaselineRNA

In [232]:
out_df1

      baselineRNA  relativeDate vLoadMatch  logLoad  rawLoad
0             NaN            -1          =      5.1   125893
1             NaN             0          =      4.0    10000
2             NaN            -7          =      4.4    25119
3             NaN            -3          =      4.6    39811
4             NaN            -5          =      3.8     6310
...           ...           ...        ...      ...      ...
1522          NaN            -6          =      4.0    10000
1523          NaN             0          =      3.8     6310
1524          NaN            -4          =      3.7     5012
1525          NaN            -8          =      4.1    12589
1526          NaN            -3          =      4.5    31623

[1527 rows x 5 columns]

In [233]:
out_df1.shape

(1527, 5)

In [234]:
missing_values = [col for col in out_df1.columns
                 if out_df1[col].isnull().any()]
missing_values

['baselineRNA']

In [235]:
baselineRNA = out_df1.drop(missing_values, axis = 1)
baselineRNA.corr()

              relativeDate   logLoad   rawLoad
relativeDate      1.000000  0.085010  0.043088
logLoad           0.085010  1.000000  0.735306
rawLoad           0.043088  0.735306  1.000000

# BaselineCD4

In [236]:
out_df3

      baselineCD4  relativeDate  count
0             NaN            -1    380
1             NaN            -4    790
2             NaN            -9    105
3             NaN            -3    256
4             NaN            -5    538
...           ...           ...    ...
1522          NaN            -6    280
1523          NaN            -8    496
1524          NaN            -4    221
1525          NaN           -10    550
1526          NaN            -3    630

[1527 rows x 3 columns]

In [237]:
out_df3.shape

(1527, 3)

In [238]:
missing_values = [col for col in out_df3.columns
                  if out_df3[col].isnull().any()]
missing_values

['baselineCD4']

In [239]:
baselineCD4 = out_df3.drop(missing_values, axis =1)
baselineCD4.corr()

              relativeDate     count
relativeDate      1.000000 -0.095372
count            -0.095372  1.000000

# Drug

In [240]:
out_df4

       drug drugCode drugClass
0       NaN      RTV        PI
1       NaN      IDV        PI
2       NaN      D4T      NRTI
3       NaN      3TC      NRTI
4       NaN      SQV        PI
...     ...      ...       ...
24237   NaN      D4T      NRTI
24238   NaN      DDI      NRTI
24239   NaN      AZT      NRTI
24240   NaN      3TC      NRTI
24241   NaN      AZT      NRTI

[24242 rows x 3 columns]

In [249]:
missing_values = [col for col in new_df4.columns
                 if new_df4[col].isna().any()]
drug = out_df4.drop(missing_values, axis =1)
drug

      drugCode drugClass
0          RTV        PI
1          IDV        PI
2          D4T      NRTI
3          3TC      NRTI
4          SQV        PI
...        ...       ...
24237      D4T      NRTI
24238      DDI      NRTI
24239      AZT      NRTI
24240      3TC      NRTI
24241      AZT      NRTI

[24242 rows x 2 columns]

In [255]:
missing_val = [col for col in drug.columns
                 if drug[col].isna().any()]
missing_val

['drugClass']

In [263]:
drug.dtype()

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [261]:
from sklearn.impute import SimpleImputer
drug_1 = drug.copy()
drug_1.columns
for col in missing_values:
    drug_1[col + '_wasmissing'] = drug_1[col].isna().any()
my_imputer = SimpleImputer()
impute_drug = pd.DataFrame(my_imputer.fit_transform(drug_1.values))
impute_drug.columns = drug_copy.columns

ValueError: Cannot use mean strategy with non-numeric data. Received datatype :O.